<head>
    <meta charset= "UTF-8"/>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="thegamesdb, the games db, games, database, meta, metadata, api, video, youtube, trailers, wallpapers, fanart, cover art, box art, fan art, open, source, game, search, forum, directory" />
    <meta name="language" content="en-US" />
    <meta name="description" content="TheGamesDB is an open, online database for video game fans. We are driven by a strong community to provide the best place to find information, covers, backdrops screenshots and videos for games, both modern and classic." />

    <title>TheGamesDB.net - An open, online database for video game fans</title>
    
    <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" />
</head>