<!DOCTYPE html>
<html>
     {{ include('IlikebunnyGdbBundle:layout:layout.head.html.twig') }}
    <body>
        <div id="main" class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>